<!DOCTYPE html>
<html>
  <head>
    <title>Food For Thought</title>
    <link rel="icon" href="http://downloads.andyroid.net/website/v2//wp-content/uploads/2015/07/Slice-Pizza-icon.png">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/users/new">SignUp</a>
    </nav>
    
    <% if flash[:notice] %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
